/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
/* line 5, ../sass/_boilerplate-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 6, ../sass/_boilerplate-reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 7, ../sass/_boilerplate-reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 8, ../sass/_boilerplate-reset.scss */
[hidden] {
  display: none;
}

/* line 10, ../sass/_boilerplate-reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 11, ../sass/_boilerplate-reset.scss */
html, button, input, select, textarea {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #191919;
}

/* line 12, ../sass/_boilerplate-reset.scss */
body {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.7;
}

/* line 14, ../sass/_boilerplate-reset.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../sass/_boilerplate-reset.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 17, ../sass/_boilerplate-reset.scss */
a {
  color: #808080;
  text-decoration: none;
}

/* line 18, ../sass/_boilerplate-reset.scss */
a:visited {
  color: #808080;
}

/* line 19, ../sass/_boilerplate-reset.scss */
a:hover {
  color: #808080;
  text-decoration: underline;
}

/* line 20, ../sass/_boilerplate-reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 21, ../sass/_boilerplate-reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 23, ../sass/_boilerplate-reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 24, ../sass/_boilerplate-reset.scss */
b, strong {
  font-weight: bold;
}

/* line 25, ../sass/_boilerplate-reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 26, ../sass/_boilerplate-reset.scss */
dfn {
  font-style: italic;
}

/* line 27, ../sass/_boilerplate-reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 28, ../sass/_boilerplate-reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 29, ../sass/_boilerplate-reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 30, ../sass/_boilerplate-reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 31, ../sass/_boilerplate-reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 32, ../sass/_boilerplate-reset.scss */
q {
  quotes: none;
}

/* line 33, ../sass/_boilerplate-reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 34, ../sass/_boilerplate-reset.scss */
small {
  font-size: 85%;
}

/* line 36, ../sass/_boilerplate-reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 37, ../sass/_boilerplate-reset.scss */
sup {
  top: -0.5em;
}

/* line 38, ../sass/_boilerplate-reset.scss */
sub {
  bottom: -0.25em;
}

/* line 40, ../sass/_boilerplate-reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 41, ../sass/_boilerplate-reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 42, ../sass/_boilerplate-reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 44, ../sass/_boilerplate-reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 46, ../sass/_boilerplate-reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 48, ../sass/_boilerplate-reset.scss */
figure {
  margin: 0;
}

/* line 50, ../sass/_boilerplate-reset.scss */
form {
  margin: 0;
}

/* line 51, ../sass/_boilerplate-reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 52, ../sass/_boilerplate-reset.scss */
label {
  cursor: pointer;
}

/* line 53, ../sass/_boilerplate-reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 54, ../sass/_boilerplate-reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 55, ../sass/_boilerplate-reset.scss */
button, input {
  line-height: normal;
}

/* line 56, ../sass/_boilerplate-reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 57, ../sass/_boilerplate-reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 58, ../sass/_boilerplate-reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 59, ../sass/_boilerplate-reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 60, ../sass/_boilerplate-reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 61, ../sass/_boilerplate-reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 62, ../sass/_boilerplate-reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 64, ../sass/_boilerplate-reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 66, ../sass/_boilerplate-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 67, ../sass/_boilerplate-reset.scss */
td {
  vertical-align: top;
}

/* line 69, ../sass/_boilerplate-reset.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* ===== Primary Styles ========================================================
   Author: Nathan McGinness
   ========================================================================== */
/* line 8, ../sass/styles.scss */
#container {
  width: 950px;
  margin: 0 auto;
}

/* line 13, ../sass/styles.scss */
header a {
  width: 320px;
  float: left;
  height: 204px;
  text-indent: -9999px;
  background: url(../img/logo.png);
  margin-top: 80px;
}
/* line 21, ../sass/styles.scss */
header h1 {
  width: 630px;
  float: left;
  text-transform: uppercase;
  font-size: 2.9em;
  letter-spacing: 7px;
  line-height: 1.3;
  margin-top: 96px;
}

/* line 31, ../sass/styles.scss */
#decks {
  width: 220px;
  float: left;
  margin-right: 100px;
  font-size: 14px;
  line-height: 22px;
  margin-top: 8px;
}
/* line 38, ../sass/styles.scss */
#decks ul {
  list-style: none;
  text-align: right;
}
/* line 41, ../sass/styles.scss */
#decks ul li {
  margin-bottom: 22px;
}
/* line 43, ../sass/styles.scss */
#decks ul li span {
  display: block;
  font-style: italic;
}

/* line 50, ../sass/styles.scss */
#copy {
  width: 620px;
  float: left;
}

/* line 55, ../sass/styles.scss */
footer {
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  padding-top: 80px;
}

/* line 62, ../sass/styles.scss */
.clear {
  clear: both;
}

/* line 65, ../sass/styles.scss */
#typekit-badge-nuq5dxh {
  display: none !important;
}

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
/* line 13, ../sass/_boilerplate-footer.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 14, ../sass/_boilerplate-footer.scss */
.ir br {
  display: none;
}

/* line 15, ../sass/_boilerplate-footer.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 16, ../sass/_boilerplate-footer.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 17, ../sass/_boilerplate-footer.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 18, ../sass/_boilerplate-footer.scss */
.invisible {
  visibility: hidden;
}

/* line 19, ../sass/_boilerplate-footer.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 20, ../sass/_boilerplate-footer.scss */
.clearfix:after {
  clear: both;
}

/* line 21, ../sass/_boilerplate-footer.scss */
.clearfix {
  *zoom: 1;
}

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  /* line 28, ../sass/_boilerplate-footer.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 29, ../sass/_boilerplate-footer.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 30, ../sass/_boilerplate-footer.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 31, ../sass/_boilerplate-footer.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 32, ../sass/_boilerplate-footer.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 33, ../sass/_boilerplate-footer.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 34, ../sass/_boilerplate-footer.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 35, ../sass/_boilerplate-footer.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 36, ../sass/_boilerplate-footer.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 38, ../sass/_boilerplate-footer.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 39, ../sass/_boilerplate-footer.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
